@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-fg: #0c66e4;
  --primary-bg: #0c66e433;
  --primary-active: #0055cc;
  --primary-fg-text: white;
  --primary-bg-text: black;
  --primary-active-text: white;

  --secondary-fg: #c8c8c8;
  --secondary-bg: #f4f4f4;
  --secondary-active: #9e9e9e;
  --secondary-fg-text: black;
  --secondary-bg-text: #4f5a6c;
  --secondary-active-text: #4f5a6c;

  --destructive-fg: #e60000;
  --destructive-bg: #e6000033;
  --destructive-active: #990000;
  --destructive-fg-text: white;
  --destructive-bg-text: black;
  --destructive-active-text: white;

  --success-fg: #2eb82e;
  --success-fg-text: white;
  --success-bg: #2eb82e33;
  --success-bg-text: black;
  --success-active: #248f24;
  --success-active-text: white;

  --default-fg: white;
  --default-bg: white;
  --default-active: #ccc;
  --default-fg-text: black;
  --default-bg-text: #172b4d;
  --default-active-text: black;

  --warning-fg: #ffd11a;
  --warning-bg: #ffd11a33;
  --warning-active: #e6e600;
  --warning-fg-text: #665200;
  --warning-bg-text: black;
  --warning-active-text: black;



}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Roboto', serif;
  font-size: 15px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body * {
  font-font: "Roboto", serif;
}

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}
